/* Write your CSS here */
.app-container{
    display: flex;
    justify-content:center;
    height:100vh;
    background-image: linear-gradient(to bottom,  #fff1eb, #ace0f9);


}
.app-store-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:85%;
    max-width:1110px;
}
.heading{
    font-family: "bree serif";
    font-size:40px;
    color:#1e293b;
    margin-top:64px;
    margin-bottom:48px;
}
@media screen and (min-width:768px){
    .heading{
        font-size:48px;
        margin-top:96px;
    }
}
.search-container{
    display: flex;
    align-items:center;
    height:40px;
    background-color: transparent;
    width:100%;
    max-width: 250px;
    border-radius:4px;
    border:1 px solid #7b8794;
    padding-left:16px;
    padding-right:16px;
    padding-top: 8px;
    padding-bottom:8px;
}
@media screen and (min-width:768px){
    .search-container{
        max-width:480px;
    }
}
.search{
    font-family:roboto;
    font-size:16px;
    font-weight:500;
    border:none;
    outline:none;
    flex-grow:1;
}
.search-icon{
    width:24px;
    height:24px;

}
.tab-lists-cont{
    display:flex;
    align-items:flex-end;
    padding-left:0px;
    margin-top:32px;
}
@media screen and(min-width:768px){
    .tab-lists-cont{
        margin-top: 48px;

    }
}
.app-list-cont{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;

}